body{
    background-color: grey;
    margin: 0%;
}
header{ /*referente a tudo que está dentro do header*/
    width: 100%;
    height: 7vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    height: 80%;
}
header nav{ /*referente aos links*/
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.link{ /*refernte a personalização das palavras/links*/
    text-decoration: none;
    color: white;
    text-transform: uppercase; /*letra maiúscula*/
}
.hamburger{
    display: none;
}
.p1{
    background-image: url(img/pexels-neo-2653362.jpg);
    background-size: cover;
    width: 100%;
    height: 60vh;
    margin: 0;
    padding: 1px;
}
.p1 .titulo{
    width: 40%;
    height: 100%;
    text-align: center;
}
.titulo h1{
    font-size: 80px;
    color: white;
    text-transform: uppercase;
}
.titulo h2{
    font-size: 40px;
    color: white;
}
.titulo img{
    width: 10%;
}
@media screen and (max-width: 768px){
    .hamburger{
        display: inline;
    }header nav{
        display: none;
    }
    .p1 .titulo{width: 100%;}
    .titulo h1{font-size: 40px;}
    .titulo h2{font-size: 20px;}
    
}